<!-- <div class="canvas-wrap" fxLayout="row" fxLayoutAlign="center center">
  <canvas fxFlexAlign="center" id="canvas" class="canvas" width="800" height="800" style="border: 1px solid #666;"></canvas>
</div> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <canvas id="c" width="1000" height="590" style="border:1px solid #ccc"></canvas> <br />
    <button id="drawingModeButton" (click)="toggleDrawingMode()">Drawing Mode: Off</button>
    <label for="brushSizeInput">Brush Size:</label>
    <input type="text" name="color" id="brushSizeInput" value="default" placeholder="default" size="10" list="brushSizeList" />
    <datalist id="brushSizeList">
      <select style="display: block;">
        <option value="default" ></option>
        <option value="2" >2</option>
        <option value="4" >4</option>
        <option value="8" >8</option>
        <option value="12" >12</option>
        <option value="20" >20</option>
        <option value="40" >40</option> 
        <option value="72" >72</option>
      </select>
    </datalist>
    <button id="sprayModeButton" (click)="toggleSprayBrush()">Spray Mode: Off</button>
    <button id="lineToolButton" (click)="toggleLineMode()">Line Tool: Off</button>
    <button id="rectToolButton" (click)="toggleRectMode()">Rect Tool: Off</button>
    <button id="ellipseToolButton" (click)="toggleEllipseMode()">Ellipse Tool: Off</button>
    <button id="circleToolButton" (click)="toggleCircleMode()">Circle Tool: Off</button>
    <button id="triangleToolButton" (click)="toggleTriangleMode()">Triangle Tool: Off</button>
    <button id="clearButton" (click)="clearCanvas()">Clear the Canvas</button> <br />
    <input type="color" id="colorPicker" value="#00cc00">
    <button id="grayscaleFilterButton" (click)="grayscaleFilter()">Grayscale Filter</button>
    <button id="inversionFilterButton" (click)="inversionFilter()">Inversion Filter</button>
    <button id="brightnessFilterButton" (click)="brightnessFilter()">Brightness Filter</button>
    <button id="pixelateFilterButton" (click)="pixelateFilter()">Pixelate Filter</button>
    <button id="textModeButton" (click)="toggleTextMode()">Text Mode: Off</button>
    <button id="saveButton" (click)="postCanvas()">Save</button>
    <button id="loadButton" (click)="getCanvas()">Load</button>
    <div class="loading" >
        <img  id="loadingIcon" src="assets/loading.svg" alt="loading" >
    </div>

  </body>
</html>
